################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EikonDicomViewer/FileContentIndex
/.vs/EikonDicomViewer/v17
/Binaries
/dicomviewerSplashUI_CPP/.vs/DicomViewerSplash/FileContentIndex
/dicomviewerSplashUI_CPP/.vs/DicomViewerSplash/v17
/.vs
/dicomviewerSplashUI_CPP/bin
/dicomviewerSplashUI_CPP/build
/dicomviewerSplashUI_CPP/DicomVie.12345678/x64/Release
/DicomViewer_CPP/.vscode
/DicomViewer_CPP/build
*.md
/DicomViewer_CPP/out/build/x64-Debug
/.vscode
/build
/Reference
/dicomviewerSplashUI_CPP/DicomViewerSplash.exe
/dvd_copy_test
/TestContent
/test_dvd_content
/DicomDir.iso
/test_dvd_content_1
/DicomViewer_CPP/src/dicomviewer - Copy.cpp
/test_dvd_content_1 - Copy
*.log
/DVD_Copy_Log (10).txt
/DVD_Copy_Log (6).txt
/DVD_Copy_Log (7).txt
/DVD_Copy_Log (8).txt
/DVD_Copy_Log (9).txt
/DVD_Copy_Log.txt
